<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if posts.pagination.prev %}
        <a class="pagination-previous" href="{{posts.pagination.prev.link}}">Previous</a>
    {% endif %}
    {% if posts.pagination.next %}
        <a class="pagination-next" href="{{posts.pagination.next.link}}">Next page</a>
    {% endif %}
    <ul class="pagination-list">
        {% for page in posts.pagination.pages %}
            {% if page.link %}
                <li><a class="pagination-link" aria-label="Goto page {{ page.title }}" href="{{ page.link }}">{{ page.title }}</a></li>
            {% else %}
                <li><a class="pagination-link is-current" aria-label="Page {{ page.title }}" aria-current="page">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
