<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.url }}">
                {{ site.name }}
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% for item in primary_menu.items %}
                    {% if not item.children %}
                        <a class="navbar-item {% if item.current %}active{% endif %} {{ item.classes|join(' ') }}" href="{{ item.link }}">{{ item.title }}</a>
                    {% else %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-item {% if item.current %}active{% endif %} {{ item.classes|join(' ') }}" href="{{ item.link }}">{{ item.title }}</a>
                            <div class="navbar-dropdown">
                                {% for child in item.children %}
                                    <a href="{{ child.link }}" class="navbar-item {% if item.current %}active{% endif %} {{ child.classes|join(' ') }}">{{ child.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    {% include 'leaves/search.twig' with {form_style: "menu"} %}
                </div>
            </div>
        </div>
    </div>
</nav>