<section class="block-{{ item.acf_fc_layout }} {%- if item['Background Type'] == "solid" %} {{ item['Background Color'] }} {% endif -%} {{ item['Class(es)'] }}" id="{{ item.ID }}"
         style="{{ inline_styles ?? '' }}
                {%- if item['Background Type'] == "image" -%}
                        background-image: url({{ Image(item['Background Image']).src }});
                        background-size: cover;
                        background-repeat: no-repeat;
                {%- elseif item['Background Type'] == "overlay" -%}
                        background:
                        linear-gradient(
                          rgba({{ item['Overlay Color'] }}, 0.45),
                          rgba({{ item['Overlay Color'] }}, 0.45)
                        ),
                        url({{ Image(item['Background Image']).src }});
                        background-size: cover;
                        background-repeat: no-repeat;
                {%- elseif item['Background Type'] == "gradient" -%}
                        background-image: linear-gradient(to bottom, {{ item['Top Background Color'] }}, {{ item['Bottom Background Color'] }});
                {%- endif -%}
         "
>
    {% block block_content %}
    {% endblock %}
</section>