{% extends 'builder/blocks/base.twig' %}
{% block block_content %}
    <div class="buttons {{ item['Button Alignment'] }} {% if item['Remove Spacing'] %}has-addons{% endif %} {{ item['Button Size'] }}">
        {% for button in item.Buttons %}
            <a href="{{ button.Button.url }}" target="{{ button.Button.target }}" class="button {{ button['Button Color'] }}">
                {{ button.Button.title }}
            </a>
        {% endfor %}
    </div>
{% endblock %}