{% extends 'builder/blocks/base.twig' %}
{% block block_content %}
    <div class="buttons {{ item['Button Alignment'] }} {% if item['Remove Spacing'] %}has-addons{% endif %} {{ item['Button Size'] }}">
        {% for button in item.Buttons %}
            <a href="{{ button.Button.url }}" target="{{ button.Button.target }}" class="button {% if item['Rounded'] %}is-rounded{% endif %} {% if item['Inverted'] %}is-inverted{% endif %} {% if item['Outline'] %}is-outlined{% endif %} {{ button['Button Style'] }}">
                {{ button.Button.title }}
            </a>
        {% endfor %}
    </div>
{% endblock %}