{% extends 'builder/blocks/base.twig' %}
{% block block_content %}
    <div class="columns is-multiline">
    {% for image in item.Images %}
        <div class="column is-1 is-4-tablet is-3-desktop">
            <a href="{{ Image(image.Image).src }}" class="fancybox" data-caption="{{ Image(image.Image).alt }}" data-fancybox="gallery">
                <img src="{{ Image(image.Image).src|resize(600,600,true) }}" alt="{{ Image(image.Image).alt }}" title="{{ Image(image.Image).title }}" class="img-fluid img-thumbnail"/>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}