{% set inline_styles = "background-image: url("~Image(item.Background).src~")" %}
{% set item = item|merge({'Class(es)': item['Class(es)'] ~ " hero is-primary is-large"}) %}
{% extends 'builder/blocks/base.twig' %}
{% block block_content %}
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{{ item.Heading }}</h1>

                <div class="buttons is-centered are-medium">
                    {% for button in item['Call To Action'] %}
                        <a href="{{ button.Button.url }}" target="{{ button.Button.target }}" class="button {{ button['Button Style'] }}">
                            {{ button.Button.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}